- if flash[:notice].present?
  .layout-notice
    =flash[:notice]

- if flash[:alert].present?
  .error_message
    =flash[:alert]

.chat
  .chat__side
    .chat__side--user
      %h5= current_user.name
      = link_to edit_user_registration_path, class: "edit-user-registration" do
        %i.fa.fa-cog
      = link_to new_group_path, class: "create-a-chat-group" do
        %i.fa.fa-pencil-square-o
    %ul.chat__side--groups
      - @groups.each do |group|
        %li.chat__side--group
          = link_to group_path(group), class: "chat--group__link" do
            %p.chat--group__name= group.name
            -if group.messages.present?
              %p.chat--group__message= group.messages.first.body
